<div id="content">
  <div class="content-row">
    <words-counter-basic-data></words-counter-basic-data>
  </div>
  <div class="content-row">
    <div class="content-row-column">
      <form id="inputForm" [formGroup]="inputForm">
        <textarea
          class="form-control"
          formControlName="inputText"
          placeholder="Type in or copy and paste your text here..."
        ></textarea>
      </form>
    </div>
    <div class="content-row-column">
      <words-counter-text-analysis></words-counter-text-analysis>
    </div>
  </div>
  <div class="content-row">
    <div class="content-row-column">
      <words-counter-keyword-density panelTitle="Keyword Density (TOP 10)"></words-counter-keyword-density>
    </div>
    <div class="content-row-column">
      <words-counter-keyword-density panelTitle="Keyword Density"></words-counter-keyword-density>
    </div>
  </div>
</div>
