<div id="basic-data">
  <div class="flex-item">
    <div class="content">
      <p class="label">CHARACTERS</p>
      <p class="value">0</p>
    </div>
  </div>
  <div class="flex-item">
    <div class="content">
      <p class="label">CHARACTERS WITHOUT SPACES</p>
      <p class="value">0</p>
    </div>
  </div>
  <div class="flex-item">
    <div class="content">
      <p class="label">WORDS</p>
      <p class="value">0</p>
    </div>
  </div>
  <div class="flex-item">
    <div class="content">
      <p class="label">SENTENCES</p>
      <p class="value">0</p>
    </div>
  </div>
</div>
